$background-principal: black;
$background-secundario: rgb(56, 53, 53);
$background-listas: rgb(37, 36, 36);
$fuente-principal: 'Josefin Sans', sans-serif;
$fuente-secundaria: 'Red Hat Display', sans-serif;