body{
    background-color: rgb(56, 53, 53);
}
/* Estilo, posicionamiento de titulo h1 */
main{
    .cajaTitulo{
        padding: 2em;
        margin: 2em 6em;
        border: solid white;
        border-radius: 2em;
        @include propiedades-flex(wrap, row, center, center);
        background-image:url(../multimedia/imagenes/fondotetris.jpg);
        .titulo{
            font-size: 4em;
            color: aliceblue;
            font-family: $fuente-secundaria;
            font-weight: bold;
            text-shadow: 5px 5px 5px black;
        }
    }
    article{
        /* Posicionamiento de contenido y estilos (h2 y p) */
        @include propiedades-flex(wrap, row, center, center);
        padding:2em;
        margin: 2em;
        font-size: 1.5em;
        color: aliceblue;
        font-family: $fuente-secundaria;
        .subtitulo{
            font-size: 2em;
            margin: 1em;
            font-family: $fuente-principal;
        }
    }
    .botonRutas{
        /* Posicion boton */
        @include propiedades-flex(wrap, row, center, center);
        .rutas-boton{
            /* Tamaño boton */
            @include boton(1.5em, 1em 6em, aliceblue, rgb(10, 90, 10));
            border: solid aliceblue;
        }
        .rutas-boton:hover{
            /* Efecto del boton */
            color: black;
            background-color: rgb(9, 206, 9);
        }
    }
    .article2{
        /* Estilos y posicionamiento de lista de servicios */
        @include propiedades-flex(wrap, column, center, center);
        background-color: rgb(37, 36, 36);
        padding: 1em;
        margin: 4em 9em;
        font-family: $fuente-principal;
        font-size: 1.5em;
        border: solid aliceblue;
        border-radius: 2em;
    }
    .botonNyC{
        /* Posicion botones nosotros y contacto */
        @include propiedades-flex(wrap, row, center, center);
        .botonesContacto{
            /* Tamaño botones nosotros y contacto */
            @include boton(1.5em, 1em 6em, aliceblue, rgb(10, 90, 10));
            border: solid aliceblue;
        }
        .botonesContacto:hover{
            /* Efecto botones nosotros y contacto */
            color: black;
            background-color: rgb(9, 206, 9);
        }
    }
}